
<div class="product-information-add-to-cart">
    <form action="/cart/add" method="post" class="variants" id="product-actions" enctype="multipart/form-data" style="padding:0px;">
    <div style="display:none;"> 
        <select id="product-select" name="id">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="SimpleTextbtn" type="submit" name="add" id="add-to-cart" value="">
            {% include 'icon-cart' %}
    </button>
    </form>          
</div>
