/**************Custom Resonsiveness Css Added By Sumit On Dated 11-8-2016*******/

/* Desktop start */

/* Large screen*/
@media only screen and (device-width: 1920px) {
  .slideshow , .hero--medium { height:835px; }
}

@media only screen and (min-width:1400px) and (max-width: 1920px){}
/* Desktop End */





/* Tablet start */

/* Tablet Landscape */
@media (min-width:769px) and (max-width:1024px) {
 .list-view-item__title-column {
    width: 50%;
    padding-right: 20px;
}

.list-view-item__price-column { padding-right: 15px; }
li.mk-thumb-gd-itm { margin: 0px 20px 0 0; }
.mk-res-cls { padding-right:20px; padding-left:20px; float: left; width: 100%; }  
.mk-my-sec-cllctn-gd, .mk-FP-grid, .mk-f-row-inner { padding-top: 30px; }
.mk-full-body { padding-bottom:30px; }
.mk-f-row-img-itm hr { display:none;}
.mk-all-pg-inner .section-heade h1 { font-size:1.5em; }
.mk-FP-header, .mk-my-sec-cllctn-gd .section-header, h2.heading{ padding: 0 0 15px 0; }
.mk-FP-header p, .mk-my-sec-cllctn-gd p, h2.heading p { padding: 10px 0 0 0; }

.mk-cntct-right .rte hr { margin: 4px 0; }
.breadcrumb-grid { padding: 25px 20px 30px; }
.shipping-div { width: 43%;}
.mk-header-right-dv { padding: 30px 0 25px!important; }
.site-header__logo-image img { width: 77%; }
.site-nav a.mk-parent-nav-links { padding: 20px 12px; font-size: 14px;}
.mk-mycol-gd-itm-title {width: 115px;height: 115px;padding: 42px 0;left: 31%;top: 51%;}
.mk-FP-gd-itm { padding: 0 15px; }
.mk-FP-gd-itm .mk-gd-vw-itm { padding: 0 0 30px 0; }
.mk-hero-grid { padding-top: 15px; }
.mk-f-row-inner { padding-top:40px; padding-bottom:40px;}
.mk-f-row-text-itm { padding-left: 20px; padding-top: 55px; }
.mk-f-row-text-itm h2.h3 { margin-bottom: 0; }
.mk-f-row-rte { margin-bottom: 20px; }
.mk-f-row-text-itm strong { margin: 0 0 10px 0; }
.mk-headr-crt-dv { padding: 0px 12px 0 15px; }
.mk-abt-page .mk-gd-vw-itm-link { padding: 30px; }
.mk-abt-gd-itm .mk-gd-vw-itm { padding: 0 0 30px 0; }
.mk-abt-page .mk-FP-grid { padding: 20px 0 30px; }
.mk-abt-overlay { top: 66%; width: 98.1%; left: 3px; }
.mk-abt-page .mk-FP-grid { padding: 0 0 10px; }
.mk-search-head h1 { padding: 0 0 10px 0; }
.mk-rel.pro { padding: 0; }
.mk-abt-page .rte p { font-size:14px; }  
.mk-search-head .input-group__field,.mk-search-head .input-group__btn .btn {height: 40px;}
  

}


/* Tablet Portrait */
@media only screen and (max-width: 768px){
  div#shopify-section-blog-template {
    margin: 0px;
}
  .sticky-header.is-scrolling div#shopify-section-header {
      position: fixed;
    width: 100%;
    z-index: 9999;
  }
  .mk-blog-main-div .section-header h1 {
    padding: 0 0 0px 0;
}
  div#shopify-section-blog-template header.section-header.text-center {
    padding: 30px 0;
}
  .mk-blog-main-div {
  
    padding: 0px 0 30px;
  }
  .mk-abt-page .mk-FP-grid {
    padding: 0 0 0px 0;
}
  nav.mobile-nav-wrapper.medium-up--hide.js-menu--is-open {
  transform: translateY(142px) !important;
  }
  .sticky-header.is-scrolling .mk-header-full-grd.grid.grid--no-gutters.grid--table.mk-res-cls {
/*     position: fixed;
    top: 0px;
    z-index: 99; */
    /* max-width: 1170px; */
    /* margin: 0 auto; */
    /* padding: 0; */
/*     bottom: unset;
    background: #fff; */
}
   .list-view-item__title-column {
    width: 50%;
    padding-right: 20px;
}
.list-view-item__price-column .product-price__price { padding: 15px; }
.list-view-item__price-column { padding-right: 10px; }
.mk-search-dv .search-header__submit { width: 35px; height: 35px; }
.cart__qty .qtY-box { float: none; margin: 0 auto;  width: 33%; }
.cart__qty .inc.button, .cart__qty .dec.button { font-size: 16px; }
.cart__qty .inc.button, .cart__qty .dec.button, .cart__qty input#quantity { height: 35px; }
.cart__qty input#quantity {font-size:14px; }
.qtY-box.page_gty_box { width: 25%; }
li.mk-thumb-gd-itm { margin: 0px 15px 0 0; }
.mk-res-cls { padding-right:15px; padding-left:15px; float: left; width: 100%; }
#shopify-section-collection-template .mk-full-body { padding-bottom:20px; }
.mk-full-body { padding-bottom:30px; }
.shipping-div, .mk-f-row-img-itm hr, .footer-icon-div, .mk-right br { display:none;}

.mk-FP-header h2, .mk-my-sec-cllctn-gd .section-header h2, h1, .mk-all-pg-inner .section-header h1
{ font-size:1.5em; }

.mk-ac-left-gd h2, .mk-ac-right-gd h2, #address_form_new h2, .mk-hide-address h4.h2,
.mk-abt-page .rte h1
{ font-size: 16px; }
  
.mk-right .mk-first-p, .mk-f-row-text-itm p, .mk-abt-page .rte p, .mk-f-row-text-itm strong
{ font-size:12px!important; }
  
.breadcrumb-grid { padding: 25px 15px 25px; }
.mk-hero-grid { padding-top: 15px; }
.notification-bar__message { width:100%; }
.site-header__logo img { width: 80%; }
.mk-header-right-dv { padding: 41px 0 20px!important; }
.mk-nav-dv { width  : 75%; }
.mk-search-dv { width: 25%; }
.site-header .icon-search { height: 16px; }
.site-nav a.mk-parent-nav-links { padding: 25px 10px; font-size: 14px; padding-top: 36px; }
.mk-search-dv .search-header__input { padding: 10px 0px; font-size:12px!important; }
.mk-search-dv { padding: 18px 0; }
.slideshow { height: 281px; }
.slideshow__title, .slideshow__subtitle { font-size: 32px; }  
.slick-prev.slick-disabled:before, .slick-prev:before { padding: 15px 12px 15px 10px; }
.slick-next.slick-disabled:before, .slick-next:before { padding: 15px 10px 15px 12px; }
.slideshow .slick-dots { bottom: 10px; }
.slick-slider .slick-dots li button::before { width: 20px; height: 4px; }
.slick-slider .slick-dots li { margin-right: 5px!important; } 
.mk-FP-header, .mk-my-sec-cllctn-gd .section-header, h2.heading { padding: 0 0 15px 0; }
.mk-mysec-gd-itm:nth-child(2)  .mk-mycol-gd-itm-title,  
.mk-my-sec-cllctn-gd, .mk-FP-grid { padding-top: 30px; }
.mk-FP-header p, .mk-my-sec-cllctn-gd p, h2.heading p { padding: 10px 0 0 0; }
.owl-carousel .owl-item { padding-left: 20px; padding-right: 20px; }
.owl-next { left: 46%; }
.owl-prev { left: 45%; }
.mk-FP-gd-itm .mk-gd-vw-itm { padding: 0 0 30px 0; }
.owl-prev, .owl-next { padding: 0 15px; font-size: 20px; }
.mk-hero { height: 114px; }
.hero__inner h2.h1.mega-title { font-size: 35px; } 
.hero__btn { margin-top: 10px!important; }
.hero__btn, .mk-f-row-text-itm a.btn { padding: 8px 20px 6px; font-size: 12px; }
.mk-f-row-text-itm { padding-top: 0; padding-bottom: 0; padding-left: 10px; }
.mk-f-row-text-itm h2.h3 { font-size: 28px; line-height: 30px; }
.mk-f-row-text-itm p { line-height: 20px; }
.mk-f-row-text-itm strong { margin: 0 0 10px 0; }
.mk-f-row-rte { margin-bottom: 25px; }
.mk-f-row-inner { padding-top: 35px; padding-bottom: 35px; }
.mk-newsletter-right { width: 60%; padding: 20px 0 20px 10px; }
.mk-newsletter-left { width: 40%; }
.input-group__field, .input-group__btn .btn { height: 40px; }
.mk-btn-span { font-size: 14px; }
.newsletter__submit { padding: 10px 40px; }
.mk-newsletter-right input[type="email"] { font-size: 12px; }  
.mk-footer-grid .medium-up--one-quarter { width: 50%; }
.mk-footer-grid .mk-blck { text-align: center; margin-bottom: 20px;  margin-top: 20px; }
.mk-footer-grid .medium-up--one-quarter:not(.mk-footer-last-blck) { min-height: 204px; }  
.mk-social-icon-block { width: 50%; padding: 0!important; border-left: 0; }
.mk-footer-last-blck { padding: 0!important; }
.mk-btm-lft-gd img { float: right;  max-width: 50%; }
.mk-btm-lft-gd { padding: 20px 0; }
.mk-btm-rght-gd { padding: 20px 0; }
.mk-footer-grid { padding-top: 40px; }
.mk-footer-p { width: 100%; }
.mk-footer-p {text-align:center;}      
.mk-footer-p img { position: relative; top: 6px; }
.mk-footer-last-li { padding: 0 0 5px 0; }  
.breadcrumb-grid a, .breadcrumb-grid span { font-size: 12px; }
.grid-view-item__title { font-size: 12px; }
.product-price__price { font-size: 16px; }
.mk-colpg-itm { padding: 0 0 30px 0; }
a.tablinks { font-size: 14px;}
select#SortBy { font-size: 12px; height: 27px!important; }  
.mk-abt-overlay { width: 91%; left: 4.5%; }
/* .mk-abt-page .mk-FP-grid { padding: 0 0 20px 0; } */
.mk-abt-page .rte h1 { padding: 0; }
.mk-right .mk-first-p { line-height: 20px; margin-bottom: 10px; }
p#mk-cntct-icons { margin-top: 0; }  
p.mk-cntct-address { margin-top: 0; }  
.map-container { margin: 40px 0 20px 0!important; }
#contact_form input.btn { font-size: 12px; }  
.mk-cntct-right h1, .mk-cntct-left h1, .mk-all-pg-inner .faqpage h3{ font-size: 16px; }
div#faq { font-size: 12px; }
h1 { text-transform: uppercase; font-size: 24px; }  
button.accordion { font-size: 12px; }
.mk-all-pg-inner #faq hr { display: block!important; margin: 30px 0 25px!important; }  
.list-view-item__title { font-size: 14px; }
.cart__price-wrapper, .cart__row .text-right { font-size: 14px; }
.cart__qty-input { font-size: 12px; width: 50px; padding: 8px 10px;}
.mk-crt-subtotal { padding-left: 20px; font-size: 18px; min-width: 100px; }
.mk-cart-shpng { font-size: 12px; padding: 10px 0 15px; }  
.mk-crt-btn { font-size: 12px; padding: 12px 10px; min-width: 140px; }
.mk-cart-full-body { padding: 30px 15px; }
.cart__update--large, .cart__continue--large { margin-right: 5px; }
/*.empty-page-content { padding: 0 15px 30px; }*/
.mk-newsletter-inner { margin: 0 0 20px; }
.mk-rel.pro { padding: 0 0 10px 0; }
#menu input:checked ~ ul.submenu {  padding: 10px 0 0; }  
#menu label.mk-drop, .header, .social-sharing label { font-size: 14px; }
label#swath-color { padding: 14px 16px; }
.swatch .swatch-element { margin: 0px 10px 10px 0; }
.social-sharing { padding: 10px 0 0 0; }
.mk-ac-right-gd p:nth-child(2) { padding: 5px 0; }
.mk-ac-left-gd p, .mk-ac-right-gd p { font-size: 12px; }
.mk-ac-pg-header h1 { padding: 0 0 10px 0; }
.address-grid { width:100%; }
#address_form_new h2, .mk-hide-address h4.h2 { padding-bottom: 20px; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before, .slick-prev:before, .slick-next:before
{ font-size: 26px; }
  
.mk-newsletter-left p, .mk-footer-li a, .mk-footer-p, .mk-btm-rght-gd small, .mk-btm-rght-gd small a
{ font-size: 12px; }
  
.mk-footer-grid .mk-blck h2
{ display: block; float: none; width: 50%; margin: 0 auto; padding: 0; }
  
.notification-bar__message, a#mk-login, a#mk-register, .mk-headerbar-right a#customer_logout_link
{ font-size: 10px; }
  
.pagination .fa-angle-left:before, .pagination .fa-angle-right:before
{ font-size: 15px; }
  
.pagination .pagination2 span.current, .pagination .pagination2 span.page
{ font-size: 12px; }
  
.mk-mysec-gd-itm a .mk-mycol-gd-itm-title:not(:nth-child(2))
{ padding: 35px 0; width: 90px; height: 90px; font-size: 20px; left: 29%; top: 51%; }
  
.mk-mysec-gd-itm:nth-child(2) .mk-mycol-gd-itm-title
{ padding: 0!important; width: 100%!important; left: 0!important; font-size: 35px!important;
  top: 88%!important; height: auto!important; }

  
  
  @-moz-document url-prefix(){
    .mk-footer-grid .medium-up--one-quarter:not(.mk-footer-last-blck) { min-height: 206px; }
  }
  
.sticky-header.is-scrolling .mk-nav-dv  {  padding: 0 15px;}  
  
}


/* Tablet end */



/* Mobile Landscape Start (to Tablet Portrait)*/

/* Mobile Landscape Basic Query */
@media only screen and (min-width: 481px) and (max-width: 767px){
    .list-view-item__title-column {
    width: 50%;
    padding-right: 20px;
}
  .evmcontent-main {
    padding: 0px 0px !important;
}

.mk-search-head { padding: 0 110px; padding-bottom: 30px; }
.mk-search-head h1.h2 { font-size: 14px; padding: 0 0 10px 0; }
.mk-search-head .input-group__btn .btn { font-size: 10px; }
  
.cart__qty { width: 79%; }
.cart__qty .inc.button, .cart__qty .dec.button, .cart__qty input#quantity { padding: 6px 8px; }
.qtY-box.page_gty_box { margin-right: 10px; width: 30%; }
.inc.button, .dec.button, input#quantity { height: 31px; padding: 0px 8px; font-size: 18px; }
input#quantity { font-size:12px; width: 36%; }
.mk-thumb-ul { max-width: 100%!important; }
li.mk-thumb-gd-itm { margin: 0px 20px 0 0; }
.social-sharing label { text-transform: uppercase; }
#menu label.mk-drop { line-height: 2.5em; }
.mk-quantity { padding: 0 0 25px 0; }
.list-view-item__title-column .mk-product-desc { font-size: 12px; }
.mobile-nav__sublist-link {  padding-left: 20px!important; }
.mobile-nav__sublist-header { padding-left: 0!important; padding-right: 52px!important; }
.cart td { padding: 22px 0 18px; }
.btn--share .icon { width: 15px; height: 14px; margin-bottom: 0; line-height:15px; }
a.btn.share-google-plus i { margin-right: 5px; }
.spr-form-input textarea { padding: 8px 10px; }
#review .spr-container { padding: 10px 0 0 0!important; }
.mk-FP-gd-itm .mk-gd-vw-itm { padding: 0 0 20px 0; }
.owl-next { left: 45.2%; }
.owl-prev { left: 44.2%; } 
.mk-f-row-text-itm p, .mk-f-row-text-itm strong { font-size:10px!important; }
.mk-right .mk-first-p, .filters-toolbar__product-count { font-size:12px!important; }
.mk-mysec-gd-itm a:hover .mk-mycol-gd-itm-title:not(:nth-child(2)) { display: none; }
.mk-mysec-gd-itm a:hover .mk-mycol-gd-itm-title:nth-child(2) { display: none; }
.mk-mysec-gd-itm:nth-child(4) a:hover .overlay-inner { opacity: 0!important; }
.mk-mysec-gd-itm:nth-child(4) a:hover .overlay-inner2 { opacity: 0!important; }  
.mk-ac-pg-header { padding: 0 0 20px 0; }
/*.empty-page-content { padding: 0 15px 10px; }*/
.mk-ac-pg-header h1 { padding: 0; }
hr#cart-hr { display:block; margin:0; margin-bottom: 25px; }
.mk-cart-full-body { padding: 0px 15px 30px; }
#mk-bread-border { display:block; margin:0 0 20px 0; border-color: #e1e1e1;}
.breadcrumb-grid { padding: 0 15px 25px; }
.template-product .main-content { padding-top: 0; }
.product-single__meta { padding-left: 20px; }
.mk-cart-shpng { padding: 5px 0 10px; }
#contact_form input.btn { padding: 10px 14px; }
.mk-all-pg-inner #faq hr { margin: 30px 0 20px!important; }
div.panel { padding: 15px!important; }
#list { padding-bottom:15px; }
.pagination { padding: 10px 0 0; }
.product-price__price { font-size: 14px; }
.site-header__icons--plus .site-header__cart { padding: 0; }
.mk-mob-nav { float:left; }
.mk-header-right-dv, .mk-mob-nav { width: 10%; padding: 31px 0!important; }
.site-header__menu { padding: 0; }
.mk-header-left-dv { padding: 15px 0;  width: 80%; }
a.site-header__logo-image { float: none; max-width: 100%; }  
.site-header .icon-hamburger { height: 26px; width: 26px; }
.mk-cart-icon img { width: 100%;     float: none; display: block;}
.slideshow__text-content { top: 53%; }
.slideshow .slick-dots { display: none!important; }  
.slick-prev.slick-disabled:before, .slick-prev:before{ padding: 12px 10px 12px 8px; }  
.slick-next.slick-disabled:before, .slick-next:before { padding: 12px 8px 12px 10px; }  
.mk-f-row-inner { flex-direction: initial; }
.mk-f-row-text-itm { width:50%; }
.mk-f-row-text-itm h2.h3 { margin: 0 0 5px 0; }
.mk-f-row-text-itm strong { margin: 0 0 5px 0; }  
.mk-f-row-rte { margin-bottom: 15px; }
.mk-newsletter-inner { max-width:100%; }
.mk-footer-grid .medium-up--one-quarter:not(.mk-footer-last-blck) { min-height: 224px; }
.hero__btn { margin-top: 13px!important; }
.social-icons__link img { max-width: 90%; }  
.border-bottom { border-bottom: 1px solid #323232; }
.social-icons__link { padding: 0; }
.mk-abt-page .rte h1 { padding: 0px 0 15px 0; }
.mk-abt-page .mk-gd-vw-itm-link { padding: 30px; }
.mk-abt-page .owl-next, .mk-abt-page .owl-prev { top: -216px; }
.mk-abt-page .mk-FP-grid { padding: 0; }
.mk-abt-overlay { width: 97.1%; left: 1.5%; top: 66%; }
.map-container { height: 250px; margin: 30px 0 10px 0!important; }
.mk-map-dv iframe { height:100%;  }
.mk-address-pg .section-header h1 { padding: 0 0 15px 0; }
.mk-padding-zero { padding:0; }
div#AddressNewForm { padding: 20px 0; }  
.mk-all-pg-inner .rte { font-size:10px; }
#AddToCart-product-template { font-size: 12px; padding: 8px 12px 7px; }
#CartCount { min-width: 13px; height: 16px; left: 80%; top: 4%; }
.mk-headr-crt-dv {   padding:0;}
.site-header__cart-count span { font-size: 10px; }
.notification-bar__message { padding: 14px 0 10px; }
.mk-headr-crt-dv { padding: 0 7px 0 0; }

input, input[type="search"],input[type="number"],input[type="email"],
input[type="password"], select, button
{ font-size:12px; }
  
a#mk-login, a#mk-register, .mk-headerbar-right a#customer_logout_link
{ padding: 14px 0 11px 0; }
  
.mobile-nav__link, .mobile-nav__sublist-link
{ text-align: center; text-transform: uppercase; font-size: 14px; }
  
.mk-header-left-dv .site-header__logo img
{ display: block; margin: 0 auto; float: none; width: auto; }
  
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before, .slick-prev:before,
.slick-next:before
{ font-size: 20px; }
  
    @-moz-document url-prefix() {
      .cart__qty { width: 78%; } 
      .site-header__logo img { width: 28% !important; }
  }

  
}


/* iphone 6 plus landscape */
@media only screen and (max-width: 736px){}

/* iphone 6 landscape */
@media only screen and (max-width: 667px){

a.btn.share-google-plus { margin-right: 0; }
.social-sharing label { padding: 5px 14px 5px 0; }
.spr-form-label { font-size: 12px; }
span#line { margin: 13px 12px 8px; }
#CartCount { min-width: 13px; height: 16px; left: 75%; top: 0; }
.mk-cart-full-body { padding: 0px 15px 30px; }
.mk-cart-footer { padding: 30px 0 0 0; }
.mk-ac-left-gd { width: 74%; }
.mk-ac-right-gd { width: 26%; }
.mk-ac-right-gd p a { padding: 10px 7px; }
.mk-f-row-text-itm p { line-height: 18px; }
.mk-f-row-rte { margin-bottom: 10px; }
.mk-abt-page .mk-gd-vw-itm-link img { height: 225px; }  
.mk-abt-gd-itm .mk-gd-vw-itm { padding: 0 0 20px 0; }
.mk-abt-page .owl-item { height: 320px!important; }
.mk-abt-overlay { width: 94.1%; left: 3%; }
.mk-abt-overlay { padding: 18px 0; }
.mk-bottm-innr-gd {padding-top:10px; padding-bottom:5px;}  
.mk-btm-rght-gd, .mk-btm-lft-gd { padding: 0; width: 100%; line-height: 40px; }
.mk-btm-lft-gd img { float: none; max-width: 30%; }
.mk-f-row-inner { padding-top: 35px; padding-bottom: 35px; }
.mk-hero-grid { padding-top: 15px; }
.mk-FP-gd-itm .mk-gd-vw-itm { padding: 0 0 25px 0; }
.mk-newsletter-inner { padding: 12px 20px 10px; }  
.mk-newsletter-left p { text-align: left; }  
.mk-right .mk-first-p { line-height: 17px; margin-bottom: 10px; } 
.social-sharing a.btn { padding: 8px 8px; min-width: 63px; line-height: 11px; }
.newsletter__submit { padding: 10px 35px; }
.site-header__icons--plus .site-header__cart { width: 90%; }
#menu label.mk-drop, .header, .social-sharing label { font-size: 12px; }
#menu label.mk-drop:after { font-size: 10px; }
  
  
}


/* Galaxy S5 landscape */
@media only screen and (max-width: 640px){
 
  
.mk-FP-header h2, .mk-my-sec-cllctn-gd .section-header h2, h1,
.mk-all-pg-inner .section-header h1
{ font-size: 1.3em; }

.breadcrumb-grid { padding: 0 15px 15px; }
.mk-my-sec-cllctn-gd p img, .mk-FP-header p img { width: 20%; }
.slideshow { height: 250px; }
.slideshow__title, .slideshow__subtitle { font-size: 28px; }
.mk-ac-left-gd { width: 73%; }
.mk-ac-right-gd { width: 27%; }
.social-sharing label { padding: 7px 11px 7px 0; }
#review .spr-header-title { font-size: 12px; }
#review .spr-summary-caption { font-size: 11px; }
#review .spr-summary-actions-newreview { font-size: 10px; }
.spr-form-label { font-size: 10px; }
#review .spr-form label { margin: 5px 0; font-size: 10px; }
#review .spr-form input, .spr-form textarea { font-size: 10px; }
.spr-form input, .spr-form select { padding: 8px 10px; }
.btn--share .icon { width: 12px; }
.social-sharing a.btn { padding: 5px 8px; line-height: 15px; margin: 0 3px 0 0; }
.social-sharing a.share-google-plus { padding: 6px 8px 5px; margin-right:0; }

  @-moz-document url-prefix() { .cart__qty { width: 77%; } }


}


/* iphone 5 landscape */
@media only screen and (max-width: 568px){

.cart__qty { width: 70%; }
.btn--share .icon { margin-right: 2px; }
.social-sharing a.btn { padding: 5px 5px; min-width: 55px; margin: 0; }
.social-sharing label { padding: 7px 5px 7px 0; }
.list-view-item__title-column .mk-product-desc { font-size: 10px; }
.owl-prev, .owl-next { font-size: 16px; padding: 0 12px; }
.owl-next { left: 45.5%; }
.owl-prev { left: 44.3%; }   
.mk-footer-grid hr { margin: 15px 0 20px; }
.mk-FP-header p, .mk-my-sec-cllctn-gd p, h2.heading p { padding: 5px 0 0 0; }
.slideshow { height: 213px; }
.slideshow__title, .slideshow__subtitle { font-size: 24px; }
.mk-mysec-gd-itm:nth-child(2) .mk-mycol-gd-itm-title { font-size: 28px!important; }
.mk-FP-gd-itm .mk-gd-vw-itm { padding: 0 0 5px 0; }
.mk-f-row-text-itm h2.h3 { font-size: 26px; }
.mk-f-row-text-itm p { line-height: 15px; font-size: 10px!important; }
.hero__btn, .mk-f-row-text-itm a.btn { padding: 5px 11px 4px; font-size: 10px; }
.hero__btn { margin-top: 16px!important; }
.mk-footer-grid h2 { font-size: 16px; }

.mk-newsletter-left p, .mk-footer-li a, .mk-footer-p, .mk-btm-rght-gd small,
.mk-btm-rght-gd small a
{ font-size: 11px; }
  
.mk-footer-li { padding: 2px 10px; }
.mk-footer-grid .medium-up--one-quarter:not(.mk-footer-last-blck) { min-height: 191px; }
.mk-footer-grid .mk-blck { margin-bottom: 15px; margin-top: 15px; }
.newsletter__submit { padding: 10px 30px; }
.input-group__field, .input-group__btn .btn { height: 35px; }
.mk-newsletter-right { width: 60%; padding: 15px 0 15px 10px; }
.mk-newsletter-left { padding: 10px 0 0 0; }
.mk-newsletter-inner { padding: 12px 15px 12px; }
.mk-btn-span { font-size: 12px; }
.mk-btm-rght-gd, .mk-btm-lft-gd { line-height: 32px; }
.social-icons__link img { max-width: 75%; }
.social-icons { margin: 0; }
.mk-abt-page .mk-gd-vw-itm-link img { height: 205px; }
.mk-abt-page .mk-gd-vw-itm-link { padding: 15px; }
.mk-abt-page .owl-item { height: 275px!important; }
.mk-abt-page .mk-abt-overlay p { font-size: 14px!important;  line-height: 15px; }
.mk-abt-overlay { padding: 10px 5px; width: 100%; left: 0; top: 65%; }
.mk-abt-page .owl-next, .mk-abt-page .owl-prev { top: -190px; }
p.mk-cntct-address { font-size: 10px; padding-top: 7px!important; }
.mk-cntct-right .rte hr { margin: 4px 0 5px; }
.mk-cntct-right { padding: 0 0 0 20px; }
.map-container { height: 200px; }
.mk-ac-left-gd { width: 69%; }
.mk-ac-right-gd { width: 31%; }
.mk-hide-address { padding: 15px 0 0!important; }
.mk-address { padding: 15px 0; }
.mk-add-new-addr .address-new-toggle { padding: 8px 10px; }
.mk-all-pg-inner #faq hr.mk-first-hr { margin: 10px 0 20px 0!important; }
.mk-all-pg-inner #faq hr { margin: 25px 0 15px!important; }
#AddToCart-product-template { font-size: 10px; }
 
  
}


/* Mobile Landscape End */
 


/* Mobile Portrait Start */

/* Mobile Portrait Basic Query */
@media only screen and (max-width: 480px){
  .pagination .pagination2 span.page {
  padding: 2px 8px;
  }
  a.btn.brand_btn.addonbutton_link.add-cart-link-custom {
    padding: 8px 16px;
    font-size: 12px;
  }
.grid.product-single { padding: 30px 15px 30px 15px;}
.article__grid-image {width:100%;}
.article__grid-meta.article__grid-meta--has-image {width: 100%;}
.grid.grid--uniform.grid--blog {padding: 10px 10px 10px 10px;}
.newsletter-section {padding-bottom: 0px !important;margin: 10px 10px 10px 10px;padding-top:0px;}
.newsletter-section .page-width.text-center {padding: 10px 10px 10px 10px;}
.mk-res-cls { padding-right: 10px; padding-left: 10px; }
.mk-newsletter-left p, .mk-footer-li a, .mk-footer-p, .mk-btm-rght-gd small,
.mk-btm-rght-gd small a, #RecoverPasswordForm p
{ font-size: 12px; }
  
input, textarea, select, button { font-size: 12px; }
input, select { padding: 10px 10px; }
.form-vertical input { margin-bottom: 20px; }
  
.slideshow .slick-prev, .slideshow .slick-next, .slick-dots,
.mk-mysec-gd-itm a:hover .mk-mycol-gd-itm-title { display:none!important; }
  
.mk-mysec-gd-itm a .mk-mycol-gd-itm-title:nth-child(2),
.mk-mysec-gd-itm a:hover .mk-mycol-gd-itm-title:nth-child(2)
{ display:block!important; }

#MobileNav .search__input { padding-left: 15px; }
.border-bottom { border-bottom: 1px solid #323232; }
.mk-search-head { padding: 0 30px; padding-bottom:30px; }
.mk-search-head h1.h2 { font-size: 12px;     padding-bottom: 10px; }
.mk-search-head .search__submit { font-size: 10px; }
a.mk-srchpg-lst.list-view-item { padding: 0 0 20px; }
.list-view-item__price-column {  width: 100%;  padding: 0;  }
a.mk-srchpg-lst.list-view-item {  display: flex;   flex-wrap: wrap;}
.list-view-item__image-column { width: 30%; }
.list-view-item__title-column {  width: 70%;}
.cart__qty .inc.button, .cart__qty .dec.button, .cart__qty input#quantity { height: 30px; padding: 3px 8px; }
.cart__qty { width: 67%; }
.cart__qty input#quantity { font-size: 12px; }
.qtY-box.page_gty_box { margin-right: 10px; width: 30%; }
.inc.button, .dec.button, input#quantity { height: 32px; padding: 0px 8px; font-size: 18px; }
input#quantity { font-size:12px; width: 36%; }
.mk-thumb-ul { max-width: 100%!important; }
li.mk-thumb-gd-itm { margin: 0px 20px 0 0; }
.mk-all-pg-inner .rte{ font-size:10px; }
.mk-all-pg-inner .section-header h1 { padding: 0 0 15px 0; }
.mk-all-pg-inner .faqpage h3 { margin: 0 0 15px 0!important; }
.empty-page-content h1 { padding: 0 0 10px 0; }
.empty-page-content .cart__continue-btn { font-size: 10px; }
p.cart--empty-message { font-size:12px; }
hr#cart-hr { margin-bottom: 20px; }
.site-header__logo img { width: 70%; }
.mk-my-sec-cllctn-gd p img, .mk-FP-header p img { width: 30%; }
span#line { margin: 9px 7px 8px; }
.mk-mob-nav { float:left; width: 10%; }
.mk-mob-nav .site-header__menu { padding: 0; }
.mk-header-right-dv { width: 10%; float: right!important; padding: 0!important; }
.mk-headr-crt-dv { padding: 0; }
a.mk-cart-icon.site-header__cart { padding: 0; }
.mk-header-left-dv { width: 80%; padding: 16px 0; }
.site-header__logo-image { margin: 0 auto; }
.site-header__logo img { display: block; margin: 0 auto!important; }
.mk-mob-nav, .mk-header-right-dv { padding: 37px 0 21px!important; }
.site-header .icon-hamburger { height: 25px; width: 25px; }
.site-header__icons--plus .site-header__cart { width: 80%; }
.slideshow { height: 160px; }
.slideshow__title, .slideshow__subtitle { font-size: 20px; }
.slideshow__text-content { top: 50%; }
.mk-mysec-gd-itm:nth-child(2) .mk-mycol-gd-itm-title { font-size: 20px!important; }
.mk-footer-grid hr { margin: 15px auto 20px;  width: 50%; }
.site-header__cart-count span { padding: 4px 5px; font-size: 10px; }
.mk-f-row-text-itm { padding:0; }
.mk-f-row-rte { margin-bottom: 12px; }
.owl-prev { left: 41%; }
.owl-next { left: 43%; }
.mk-FP-gd-itm .grid-view-item__title { font-size: 16px; }
.mk-FP-gd-itm .product-price__price { font-size: 18px; }
.owl-prev, .owl-next { font-size: 20px; }
.mk-hero { height: 60px; }
.hero__inner h2.h1.mega-title { font-size: 20px; }
.hero__btn { margin-top: 4px!important; }
.hero__btn, .mk-f-row-text-itm a.btn { padding: 6px 10px 3px; font-size: 8px; }
.mk-f-row-img-itm { width: 100%; margin: 0 auto; padding: 0 0 30px 0; }
.mk-newsletter-inner { max-width: 100%; }
.mk-newsletter-left, .mk-newsletter-right { width: 100%; }
.mk-newsletter-right { padding: 15px 0 15px 0; }
.mk-footer-grid .medium-up--one-quarter { width: 100%; }
.mk-social-icon-block { width: 100%; }
.mk-footer-grid .medium-up--one-quarter { min-height: 100%!important; }
.mk-footer-grid .mk-blck {    margin-top: 25px; }
.mk-footer-grid h2 { font-size: 18px; }
.social-icons__link img { max-width: 80%; }
.social-icons__link:first-child { margin-left: -3px; }
.mk-newsletter-inner { padding: 20px 15px; }
.mk-btm-lft-gd img { max-width: 40%; }
.mk-bottm-innr-gd { padding-top: 20px; padding-bottom: 15px; }  
.mk-btm-lft-gd img { max-width: 45%; vertical-align: middle; }
.mk-btm-rght-gd, .mk-btm-lft-gd { line-height: 28px; }  
.slideshow__text-content.right { right: 3%; }
.slideshow__title { margin-right: 10px; } 
.mobile-nav__link, .mobile-nav__sublist-link{text-align:center;text-transform:capitalize;}
.mobile-nav__sublist-link:not(.mobile-nav__sublist-header) { padding-left: 35px; }  
.mobile-nav__sublist-header { padding: 15px 40px 15px 0px; }
.mk-f-row-text-itm p { font-size: 11px!important; }  
.mk-colpg-itm { width: 48%; margin-right: 4%; }  
.mk-colpg-itm:nth-child(4n) { margin-right: 4%; }
.mk-colpg-itm:nth-child(2n) { margin-right: 0; }
.grid-view-item__title { font-size: 13px; }
.product-price__price { font-size: 15px; }
hr#cart-hr { display: block; margin: 0; margin-bottom: 15px; }
.mk-cartpg-h1 { padding: 0 0 15px 0; }
.btn--secondary, .cart__update { font-size: 10px; }
.cart__qty-input { font-size: 10px; width: 45px; padding: 6px 0; }
.mk-cntct-left, .mk-cntct-right { width: 100%; }
.mk-cntct-right h1 { padding: 0 0 10px 0; }
.map-container { margin: 0 0 10px 0!important; }  
.mk-map-dv iframe { height: 200px; }
.mk-cntct-right{ padding:30px 0; }
.filters-toolbar__product-count { font-size: 12px; }
a.tablinks { display:none; }
select#SortBy { height: 25px!important; margin: 0; min-width: 25%; }
.pagination .pagination2 a { padding: 0px 0px; } 
.btn--narrow i.fa.fa-angle-left, .btn--narrow i.fa.fa-angle-right{ padding: 2px 7px; }
.pagination .pagination2 span.current, .pagination .pagination2 span.page {font-size: 14px;}
.pagination .pagination2 span.current { padding: 2px 8px!important; }
.breadcrumb-grid a, .breadcrumb-grid span { font-size: 10px; }
.mk-abt-page .rte h1 { margin: 20px 0 10px!important; }
.mk-ac-left-gd h2, .mk-ac-right-gd h2, #address_form_new h2, .mk-hide-address h4.h2,
.mk-abt-page .rte h1  { font-size: 14px; }
.mk-abt-page .rte p { line-height: 18px; }
.mk-abt-page .mk-gd-vw-itm-link img { height: 261px; }
/* .mk-abt-page .mk-FP-grid { padding: 0 0 40px 0; } */
.mk-abt-page .owl-next, .mk-abt-page .owl-prev { top: -160px; }
.mk-abt-overlay { padding: 15px 5px; width: 95%; left: 2.5%; top: 64.4%; }
button.accordion { padding: 12px 10px!important; }
#mk-bread-border { display: block;  margin: 0 0 20px 0; border-color: #e1e1e1; }
.faqpage p { margin: 5px 0 0 0; }
div.panel { padding: 15px; } 
.mk-pro-pg-left-gd, .mk-pro-pg-right-gd { width: 100%; }
.mk-pro-pg-left-gd { margin-right: 0; }
.template-product .main-content { padding-top: 0; }
#AddToCart-product-template { font-size: 12px; padding: 8px 16px; }
.social-sharing a.btn { padding: 5px 15px; min-width: 72px; margin: 0 6px 0 0; }  
#menu label.mk-drop, .header, .social-sharing label { font-size: 13px; }
.social-sharing label { padding: 4px 15px 7px 0; text-transform: uppercase; }
h1.product-single__title { font-size: 16px; }
.mk-crt-lgn { width: 100%; }  
#CustomerLoginForm .text-center p { margin: 7px 0!important; }
.form-vertical .btn { margin: 0; }
#RecoverPasswordForm .text-center {  margin-bottom: 10px; }
.mk-ac-left-gd, .mk-ac-right-gd { width: 100%; }
.mk-ac-left-gd { margin-bottom:15px; }  
.mk-padding-zero { padding: 0; }
.social-icons__link { padding:0; }
.mk-btm-rght-gd small { padding-right: 0; }
#contact_form input.btn { font-size: 14px; padding: 10px 10px; }
.pagination { padding: 10px 0 0; }
#review .spr-header-title { margin: 0 0 5px 0!important; }
.mk-hero-grid { padding-top: 25px; }
.mk-cart-meta { padding-left: 60px!important; }
div#AddressNewForm { padding: 20px 0; }
a.btn.share-google-plus { margin-right: 0; }  
}


@media only screen and (max-width: 479px){}

/* iphone 6 plus portrait */
@media only screen and (max-width: 414px){}


/* iphone 6 portrait */
@media only screen and (min-width: 321px) and (max-width: 375px){

.mk-abt-page .rte br { display: none; }
span#line, a#mk-login, a#mk-register, .mk-headerbar-right a#customer_logout_link { float: none; }

.mk-right .mk-first-p, .mk-f-row-text-itm p, .mk-abt-page .rte p, .mk-f-row-text-itm strong{ font-size: 10px!important; }  
  
.social-sharing label { padding: 7px 7px 7px 0; }
.social-sharing a.btn { margin: 0 3px 0 0; }
div.panel { padding: 10px; }
.mk-cart-meta { padding-left: 45px!important; }
.cart__qty { width: 63%; }
.cart__qty .qtY-box { width: 50%; }
#CartCount { left: 60%; top: -2px; }
a#mk-login, a#mk-register, .mk-headerbar-right a#customer_logout_link { padding: 0; }
span#line { margin: 9px 5px 8px; }
.mk-headerbar-right { padding-bottom: 5px; }
.site-header__account { padding: 12px 8px; }
.headerbar-left, .mk-headerbar-right { width: 100%; }
.notification-bar__message { text-align: center; padding-bottom: 0; }  
.slideshow { height: 145px; }
.grid-view-item__title { font-size: 12px; }
.product-price__price { font-size: 16px; }
.mk-btm-rght-gd small a { font-size: 10px; }
.mk-btm-rght-gd small { font-size: 10px; }
.mk-bottm-innr-gd { padding-bottom: 20px; }
.mk-mob-nav, .mk-header-right-dv { padding: 37px 0 23px!important; }
.owl-carousel .owl-item { padding-left: 35px; padding-right: 35px; }
#mk-mid { line-height: 14px; margin: 10px 0; }
.mk-abt-page .rte p { line-height: 16px; }
button.accordion { font-size: 11px; }  
div.panel { padding: 10px; }  
#contact_form input.btn { font-size: 12px; }  
.mk-cntct-right { padding: 20px 0 30px; } 
.mk-filtr-toolbar-wrap { margin: 0 0 25px 0; }
.social-sharing a.btn { padding: 5px 5px; min-width: 64px; }  
.mk-FP-gd-itm .grid-view-item__title { font-size: 16px; }
.mk-FP-gd-itm .product-price__price { font-size: 20px; }
.mk-headr-crt-dv { vertical-align: middle; } 
.site-header .icon-hamburger { height: 29px; width: 23px; }
.mk-mysec-gd-itm:nth-child(2) .mk-mycol-gd-itm-title { font-size: 18px!important; }
  
}


/* Galaxy S5 portrait */
@media only screen and (max-width: 360px){}


/* iphone 5 portrait */
@media only screen and (max-width: 320px) {

.mk-cntct-right h1, .mk-cntct-left h1, .mk-all-pg-inner .faqpage h3 { font-size: 14px; }
.mk-abt-page .rte br { display: none; }
  
span#line, a#mk-login, a#mk-register, .mk-headerbar-right a#customer_logout_link
{ float: none; }
  
.mk-right .mk-first-p, .mk-f-row-text-itm p, .mk-abt-page .rte p,
.mk-f-row-text-itm strong
{ font-size: 10px!important; }
  
.btn--secondary, .  .mk-cntct-right h1, .mk-cntct-left h1, .mk-all-pg-inner .faqpage h3
{ font-size: 14px; }
  
.mk-FP-header h2, .mk-my-sec-cllctn-gd .section-header h2, h1,
.mk-all-pg-inner .section-header h1
{  font-size: 1.2em; }
  
.mk-ac-left-gd h2, .mk-ac-right-gd h2, #address_form_new h2, .mk-hide-address h4.h2 
{ font-size: 12px; }

.cart__qty { width: 60%; }
.cart__qty .qtY-box { width: 50%; }
.inc.button, .dec.button, input#quantity { height: 30px; padding: 2px 8px; }
.inc.button, .dec.button { font-size: 17px; }
.headerbar-left, .mk-headerbar-right { width: 100%; }
.notification-bar__message { text-align: center; padding-bottom: 0; }  
.site-header__icons--plus .site-header__cart { width: 90%; }
.mk-mob-nav, .mk-header-right-dv { padding: 37px 0 24px!important; }
#CartCount { top: -4px; }
.site-header .icon-hamburger { height: 28px; width: 21px; }
.slideshow { height: 126px; }
.slideshow__title, .slideshow__subtitle { font-size: 16px; }
.mk-FP-header p, .mk-my-sec-cllctn-gd p, h2.heading p { padding: 0; }  
.mk-mysec-gd-itm:nth-child(2) .mk-mycol-gd-itm-title { font-size: 16px!important; }
.mk-FP-gd-itm .grid-view-item__title { font-size: 14px; }
.mk-FP-gd-itm .product-price__price { font-size: 16px; }
.owl-prev, .owl-next { font-size: 18px; }
.owl-prev { left: 39%; }
.mk-footer-grid .mk-blck h2 { width: 60%; }
.mk-newsletter-left h2 { font-size: 16px!important; }
.mk-abt-page .mk-gd-vw-itm-link img { height: 240px; }
.mk-abt-page .owl-next, .mk-abt-page .owl-prev { top: -162px; }
.owl-next { left: 41%; }
#mk-mid { margin: 10px 0; }
.mk-abt-overlay { width: 100%; left: 0; top: 70%; }
.mk-abt-page .mk-FP-grid { padding: 0 0 30px 0; }
.mk-abt-page .owl-next, .mk-abt-page .owl-prev { font-size: 40px; }  
.cart__update { font-size: 8px; }
.cart__qty-label { font-size: 10px; } 
.mk-cart-meta { padding-left: 32px!important; }
.mk-crt-btn { font-size: 10px; padding: 9px 0; min-width: 100px; }
.mk-cart-shpng { padding: 5px 0 10px; }
.mk-crt-subtotal { font-size: 16px; }
.mk-cntct-left h1 { padding: 0 0 15px 0; } 
.mk-contactpg-inputs input, #contact_form textarea { font-size: 10px; }
#contact_form input.btn { font-size: 9px; padding: 8px 8px; }
.mk-footer-grid h2 { font-size: 18px; }
.mk-newsletter-right input[type="email"] { font-size: 9px; }
.input-group__field, .input-group__btn .btn { height: 30px; }
div.panel { padding: 12px; }
.social-icons__link img { max-width: 75%; }
.social-icons__link:first-child { margin-left: -6px; }
.grid-view-item__title { font-size: 11px; }
.product-price__price { font-size: 12px; }
#AddToCart-product-template { font-size: 10px; }   
.social-sharing a.btn { padding: 4px 0; min-width: 55px; margin: 5px 2px 5px 0; }
.social-sharing a.btn.share-google-plus { padding: 5px 0; }
span.share-title { font-size: 9px; }
.btn--share .icon, a.btn.share-google-plus i { width: 10px; }
a.btn.share-google-plus i { margin-right: 7px; }
.mk-ac-pg-header h1 { padding: 0; }
.mk-ac-pg-header a#customer_logout_link { font-size:12px; }
.mk-ac-pg-header { padding: 0 0 20px 0; }  
.mk-ac-left-gd p, .mk-ac-right-gd p { font-size: 11px; }
.mk-add-new-addr .address-new-toggle { font-size: 10px; padding: 6px 8px; }
.mk-return-ac a { font-size: 11px; }
.mk-address-pg .section-header h1 { padding: 0; }
   

}


/* Mobile Portrait End */

/**************Custom Resonsiveness Css Added By Sumit On Dated 25-3-2016*******/

